
<div class="literature">
  <h5 class="literature__title">Источники:</h5>
  <ul class="literature__list">
    <li class="literature__item">Адаптировано из Мухин К.Ю.; Пылаева О.А. с соавт. Основные принципы лечения эпилепсии. Алгоритм выбора антиэпилептических препаратов. Русский журнал детской неврологии. 2014; 9(4):30-39. Не является клиническими рекомендациями.</li>
    <li class="literature__item">Депакин® Хроносфера — вальпроевая кислота в виде гранул с пролонгированным высвобождением.
    <ul class="literature__sublist">
      <li class="literature__subitem">* Вальпроат не должен применяться при беременности, у детей и подростков женского пола и у женщин с детородным потенциалом без крайней необходимости, то есть его применение возможно в ситуациях, когда другие противоэпилептические препараты неэффективны или пациентка их не переносит.</li>
      <li class="literature__subitem">* Не являются клиническими рекомендациями.</li>
    </ul>
    </li>
  </ul>
  <p class="registration">SARU.VPA.17.12.2190.</p>
</div>