<div class="case">
  <div class="case__pic">
    <div class="case__subpic">
      <!-- <img class="case__img" src="static/img/content/face.png" alt="case image"> -->
      {{Icon iconName='boy' class="case__img " iconWidth='25' iconHeight='25'}}
    </div>
  </div>
  <div class="case__content">
    <a href="https://docsfera.ru/clinical/patsient-v/" class="case__title">Интерактивный клинический случай</a>
    <div class="case__text">
      <p class="case__bold">Примените свои знания на интерактивном пациенте</p>
      <p class="case__desc">Пациент, 7 лет. Частые полиморфные приступы (десятки и сотни в день) в виде отведения глазных яблок вверх, кивков головой с одновременной ее ротацией влево и наклоном туловища влево, асимметричных миоклоний в верхних конечностях, иногда в одной правой, сопровождающиеся гиперсаливацией продолжительностью до 3 секунд.</p>
    </div>
  </div>
  <div class="case__arrow">
    <a href="https://docsfera.ru/clinical/patsient-v/" class="case__arrow_link">
      {{Icon iconName='icon-arrow-right' class="arrow__img" iconWidth='25' iconHeight='25'}}
    </a>
  </div>
</div>